<MarketplaceDetails>
  <SmallAppTile>desimusic300300.png</SmallAppTile>
  <ScreenShots>desisongsscreenone.png;desisongsscreentwo.png;;;;;;;</ScreenShots>
  <ScreenShotsWXGA>desisongsscreenone_wvga.png;desisongsscreentwo_wvga.png;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>desisongsscreenone_720.png;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>